<div id="<%= dom_id mining_type %>">
  <th>
    <strong><%= @mining_types.human_attribute_name(:description) %></strong>
    <%= mining_type.description %>
  </th>

  <th>
    <strong><%= @mining_types.human_attribute_name(:acronym) %></strong>
    <%= mining_type.acronym %>
  </th>

</div>
