<!DOCTYPE html>
<html>
  <head>
    <title>CryptoWallet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track" => "reload" %>
    <%= stylesheet_link_tag params[:controller], "data-turbo-track": "reload" %>


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  </head>

  <body>
    <div class="container-fluid">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <button class="btn btn-dark btn-sm" role="button" onclick="window.location.search = '?locale=pt-BR'">Português</button>
        </li>
      
        <li class="nav-item">
          <button class="btn btn-dark btn-sm" role="button" onclick="window.location.search = '?locale=en'">Inglês</button>
        </li>
      </ul>
      <%= yield %>
    </div>
  </body>
</html>