<p style="color: green"><%= notice %></p>

<h1><strong>Moedas</strong></h1>

<div id="coins">

<table class="table table-hover">
  <tr>
    <th>
      <strong><%= @coins.human_attribute_name(:description)%></strong>
    </th>
    <th>
      <strong><%= @coins.human_attribute_name(:acronym) %></strong>
    </th>
    <th>
      <strong><%= @coins.human_attribute_name(:url_image) %></strong>
    </th>
    <th>
    </th>
  </tr>
  <% @coins.each do |coin| %>
    <%= render coin %>
  <% end %>
</table>
</div>



<%= link_to t('register_new_coin'), new_coin_path, class:"btn btn-dark btn-sm", role:"button" %>
<%= link_to t('return'), welcome_index_path, class:"btn btn-dark btn-sm", role:"button" %>


