<p style="color: green"><%= notice %></p>

<%= render @coin %>

<div>
  <%= link_to t('links.edit'), edit_coin_path(@coin) %> |
  <%= link_to "Voltar para o menu de moedas", coins_path %>

  <%= button_to "Apagar a moeda", @coin, method: :delete %>
</div>
